html, body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, monospace
}

.top-panel {
    display: flex;
    flex-direction: row;
    height: auto;
}

.main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.left-panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
}

.center-panel {
    display: flex;
    flex-direction: column;
    background: #000000;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
}

.right-panel {
    display: flex;
    flex-direction: column;
    min-width: 900px;
    max-width: 900px;
    overflow: auto;
}

/* left menu elements */

.menu-item-title {
    padding: 5px 0px;
}

.bordered-panel {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.row-panel {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#image_canvas_panel {
    display: block;
    white-space: nowrap;
    overflow: auto;
    text-align: center;
}

#image_preview_canvas_panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    min-height: 100px;
    border: 0px solid green;
}

#region_preview {
    display: flex;
    flex-direction: row;
    overflow: auto;
    text-align: center;
}

.preview_column {
    overflow-y: auto; 
    max-width: 300px; 
    min-width: 300px;
}

#labelScaleFactor {
    color: white;
}

#divTextureIDListContainer {
    max-height: 100px;
    overflow: auto;
}

.left-panel-button {
    display: block;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: #333333;
    border-radius: 5px;
    width: 100%;
}

.left-panel-button:hover {
    background-color: #ff0000;
}

.left-panel-button:active {
    background-color: #ff2222;
}

.left-panel-button:disabled {
    background-color: #aaaaaa;
}
